<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <nav class="navbar navbar-dark bg-dark">
                <p class="mb-0">
                    <a class="button" class="text-white-50 fw-bold" routerLink="/">LogOut</a>
                 </p> || 
                 <p class="mb-0">
                    <a class="button" class="text-white-50 fw-bold" routerLink="/demoUriWithParam/{{loginUser}}/{{mobile}}">DemoPage</a>
                 </p>
    </nav>
    <br>
    <br>
    <h2><marquee>Hey!! {{locEmail}} Welcome Dear!!</marquee></h2>
</body>
</html>