<div>
  <router-outlet></router-outlet>
</div>

<!-- Day-3-->
<!-- <div>
  <app-sign-up-login [test]="arrayJsOb" (childMeth)="parentHelperMeth($event)"></app-sign-up-login>
  <router-outlet></router-outlet>
</div> -->

<!-- Day-1-2-3-->
<!-- <!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Hello</title>
    <style>
      table,
      th,
      td {
        border: 5px solid black;
      }
    </style>
  </head>
  <body>
    <h1 style="color: brown; font-style: center">Welcome to Angular!!..</h1>
    <!-- <p style="color: black">{{ dtBoj | date : "dd-mm-yyyy" }}</p>
    <p style="color: black">{{ arrayJsOb | json }}</p>
    <p style="color: black">{{ sal | currency : "INR" : true : "0.2-2" }}</p>
    <button type="button" class="btn btn-primary" (click)="showDateMsg()">Click_Me</button>
    <button type="button" class="btn btn-primary" (click)="setValueIntoLocalStoreOfBrowser()">Save-To-Local</button>
    <i class="bi bi-alarm-fill">Test Bi</i>
    <i class="bi bi-android">Android</i>
    <table>
      <tr>
        <th>Key</th>
        <th>Val</th>
      </tr>
      <tr *ngFor="let i of arrayJsOb">
        <td>{{ i.key }}</td>
        <td>{{ i.val }}</td>
      </tr>
    </table>
    <div [ngSwitch]="inpNo">
      <div *ngSwitchCase="'1'">one</div>
      <div *ngSwitchCase="'2'">Tow</div>
      <div *ngSwitchCase="'3'">Three</div>
    </div>
    <button type="button" class="btn btn-primary" (click)="getLocalStroreValues()">Get LocalStore</button>
    <p id="plc"></p>
  </body>
</html>  -->