body {
    background-color: yellowgreen;
}

h1 {
    text-align: center;
    background-color: aquamarine;
    color: blue;
}

h3 {
    color:blue;
    border: 3px solid;
    border-color: brown;
    border-width: 5px;
    border-radius: 30px;
    margin: 30px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 5px;
}

.xFrameCls {
    background-image: url('https://thumbs.dreamstime.com/b/android-os-logo-symbol-as-d-character-perspective-purple-background-android-green-robot-fan-art-ideal-wallpapers-editorial-173812156.jpg');
    background-size: cover;
}