body {
    background-color: yellowgreen;
}

h1 {
    text-align: center;
    background-color: aquamarine;
    color: blue;
}

h3 {
    color: blue;
    border: 10px solid;
    border-color: brown;
    border-right-width: 50px;
    border-radius: 30px;
    margin: 30px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 5px;
    text-align: center;
}

.xFrameCls {
    background-image: url('https://thumbs.dreamstime.com/b/android-os-logo-symbol-as-d-character-perspective-purple-background-android-green-robot-fan-art-ideal-wallpapers-editorial-173812156.jpg');
    background-size: cover;
}

.div1 {
    height: 40px;
    max-width: 500px;
    background-color: antiquewhite;
    text-align: center;
    font: caption;
    font-size: 25px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-decoration: underline;
    outline: 8px solid brown;
}

#img1Sec {
    opacity: 0.4;
}

a {
    color: black;
    text-decoration: underline;
}

a:hover {
    color: blueviolet;
    text-decoration: underline;
}

a:active {
    color: aqua;
}

a:visited {
    color: yellow;
    text-decoration: double;
}

.unOrdList1 {
    list-style-type: square;
    list-style-position: outside;
}

.ordList2 {
    list-style-type: armenian;
    list-style-position: inside;
}

table {
    border-collapse: collapse;
    border-spacing: 1;
}

th,
td {
    border: 2px solid blue;
    padding: 5px;
}