<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Templet-Driven Forms</title>
</head>

<body>
    <section class="sample-app-content">
        <h1>Template-driven Form Example (with one-way data binding):</h1>
        <form #myForm="ngForm" (ngSubmit)="onSubmitTemplateBased(myForm)">
            <p>
                <label>First Name:</label>
                <input type="text" [ngModel]="user.firstName" name="firstName" required>
            </p>
            <p>
                <label>Password:</label>
                <input type="password" [ngModel]="user.password" name="password" required>
            </p>
            <p>
                <button type="submit" [disabled]="!myForm.valid">Submit</button>
            </p>
        </form>
    </section>
</body>

</html>