<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Welcome-Angular</title>
</head>
<body>
  <!-- <h2>Hello!!... Angular!!..</h2>
  <app-cust-comp-emp></app-cust-comp-emp>
  <app-templet-test-driven-form></app-templet-test-driven-form> -->

<!-- <app-navbar></app-navbar>
<router-outlet></router-outlet>
<app-footersec></app-footersec> -->

<!-- <h3>Login Form with Reactive Approach</h3>
<form [formGroup]="lgFrm" (ngSubmit)="logIn()" >
  <label for="un">Enter EmailId : </label>
  <input type="email" name="unName" formControlName="user"><br>
  <span *ngIf="user && user.touched && user.invalid" style="color:red">Invalid!! Email!!..</span>
  <br>
  <label for="pwd">Enter Password :</label>
  <input type="password" name="pwd" formControlName="password"><br>
  <span *ngIf="password && password.touched && password.invalid" style="color:red">Invalid!! Password..</span>
  <br>
  <input type="submit" value="Sign-In" [disabled]="lgFrm.invalid">
</form> -->

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container px-5">
            <a class="navbar-brand" href="#!">Autherization with Routers</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                    <li class="nav-item"><a class="nav-link active" aria-current="page" routerLink="/home" routerLinkActive="active">Home</a></li>
                    <li class="nav-item"><a class="nav-link" routerLink="/clrhomepg" routerLinkActive="active" target="_self">CLRWorks-HOME</a></li>
                    <li class="nav-item"><a class="nav-link" routerLink="/clrmemberdetails" routerLinkActive="active" target="_self">CLR-Details</a></li>
                </ul>
            </div>
        </div>
      </nav>
      <h3>Original Date before Pipes for Date : {{strDate}}</h3>
      <h4>Original Date After Pipes for Date : {{strDate|date|uppercase}}</h4>
      <h4>String before pipe : {{strVarx}}</h4>
      <h4>String After lowercase pipe : {{strVarx|lowercase}}</h4>
      <h4>String After Slice pipe by 4 : {{strVarx|slice:4}}</h4>
      <h4>Number1 before pipe : {{numVar}}</h4>
      <h4>Number2 before pipe : {{negVar}}</h4>
      <h4>Number3 before pipe : {{curencyVarX}}</h4>
      <h4>Currency Number before pipe : {{perCentVarx}}</h4>
      <h4>Number1 After pipe : {{numVar|number}}</h4>
      <h4>Number2 After pipe : {{negVar|number:'4.1-5'}}</h4>
      <h4>Number3 After pipe : {{curencyVarX|currency:'INR'}}</h4>
      <h4>Number3 After pipe : {{curencyVarX|currency}}</h4>
      <h4>Currency Number After pipe : {{perCentVarx|percent:'1.2-2'}}</h4>
      <h4>Transfrom Data using Custom pipe on string : {{strVarx|reversetestcustpipe}}</h4>
      <router-outlet></router-outlet>
      <hr>
      <h1 [innerText]="propVarfromCompTs"></h1>
      <h4>Example of property Binding : </h4>
      <button [disabled]="switchFlagVar">I am disabled!!</button>
      <hr>
      <h3>using ngModel 2 way data+property bindings:</h3>
      <input type="text" name="val1" [(ngModel)]="twoTsWayValx">
      <p>You have entered the value : {{twoTsWayValx}}</p>
      <button (click)="doClearVal()">Push-For-Clear</button>
      <br>
      <hr>
      <h3 [ngStyle]="{'color':'green','font-size':'50px'}">ngSwitch strutural and [ngStyle] Attribute directive</h3>
      <input type="text" name="val1" [(ngModel)]="switchTestExprVal">
      <div [ngSwitch]="switchTestExprVal">
        <p *ngSwitchCase="1">ONE</p>
        <p *ngSwitchCase="2">Two</p>
        <p *ngSwitchCase="3">Three</p>
        <p *ngSwitchCase="4">Four</p>
        <p *ngSwitchCase="5">Five</p>
        <p *ngSwitchDefault><b>Better Luck Next Time!!</b>Wrong input!!</p>
      </div>
      <br>
      <hr>
</body>
</html>